.wrap {
    width: 100%;
}

.floatleft {
    float:left;
    width: 70%;
    background-color: #ff0000;
    height: 100pc;
}

.floatright {
    float: right;
    background-color: #00ff00;
    height: 400px;
    width: 30%;
}

div, iframe {
    margin: 0 auto;
}

iframe {
    display: block;
    border-style: none;
}